.shoppingCarhead{
	width:1000px;
	height:32px;
	margin:0px auto;
	padding: 50px 0px 10px 0px;
	text-align:center;
}
.shoppingCarhead>span:nth-child(2),.shoppingCarhead>span:nth-child(4){
	color: #6393b4;
	font-size:14px;
}
.neirong{
	width:640px;
	height:280px;
	margin:96px auto 0;
	box-shadow: rgb(170 170 170) 2px 1px 2px;
}
.neirong>img{
	width: 150px;
	height: 110px;
	margin-top: 40px;
	margin-left: 245px;
}
.neirong>p{
	margin-top: 15px;
	height: 24px;
	font-size: 24px;
	color: #999999;
	line-height: 24px;
	text-align: center;
	width: 300px;
	margin-left: 170px;
}
/* 良品总价样式 */
.zongjia{
	margin:20px auto 0;
	width:1000px;
	text-align:center;
}
.zongjia>span:nth-child(1){
	font-size: 14px;
	line-height: 30px;
}
.zongjia>span:nth-child(3){
	color: #197bc9;
	margin-left: 10px;
	font-size: 20px;
}
.jiesuan{
	margin:5px auto;
	width:168px;
	height:30px;
	color:#fff;
	text-align:center;
	line-height:30px;
	background:#7fa6c5;
}
/* 继续购物样式 */
.shoppingAgain{
	width:1000px;
	margin:0px auto 120px;
}
.shoppingAgain>div{
	width:168px;
	margin:20px auto;
	text-align:center;
	border-bottom:1px solid #ccc;
	position:relative;
}
.shoppingAgain>div>a{
	display:inline-block;
	width:100%;
	color: #404040;
	font-size:14px;
	line-height:20px;
	position:absolute;
	top:-10px;right:-5px;
}